* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}



.container {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "portada portada" 
    "header header"
    "aside-info aside-info"
    "contenedor-section contenedor-section"
    "aside2 aside2"
    "horarios horarios"
    "footer footer"
    ;
    background-color: #fff;
}


/* PORTADA */
.portada {
    grid-area: portada;
    width: 100%; 
    height: 500px; 
    background-image: url('/Images/Portada.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}


/* HEADER */
.header {
    grid-area: header;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: rgb(2, 2, 54);
    position: sticky;
    top: 0px;
}

.header img {
    width: 80px;
    cursor: pointer;
}

.header img:hover {
    transform: scale(1.2);
    transition: all 1s;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    transition: all 1s;
    font-size: 27px;
    color: slateblue;
}


/* ASIDE INFO */
.aside-info {
    grid-area: aside-info;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    text-align: center;
}

.aside-info h1 {
    font-size: 40px;
}

.aside-info p {
    width: 80%;
}

/* SECTIONS */
.contenedor-section {
    grid-area: contenedor-section;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "biblioteca wifi"
    "laboratorio articulacion"
    ;
    height: 500px;
}

.wifi {
    grid-area: wifi;
}

.articulacion {
    grid-area: articulacion;
}

.laboratorio {
    grid-area: laboratorio;
}

.biblioteca {
    grid-area: biblioteca;
}



.wifi, .articulacion, .laboratorio, .biblioteca  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wifi div, .laboratorio div, .biblioteca div, .articulacion div {
    height: 80px;
    width: 50%;
    padding-right: 100px;
}

.section p, .section2 p {
    color: grey;
}

.wifi img:hover, .articulacion img:hover, .laboratorio img:hover, .biblioteca img:hover {
    transform: translate(15px);
    transition: all 1.5s;
}


/* ASIDE 2 */
.aside2 {
    grid-area: aside2;
    background-color: rgb(8, 0, 62);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
    margin-top: 120px;
    text-align: center;
}

.aside2-titulo {
    font-size: 35px;
}

.aside2-botones {
    display: flex;
    height: 100px;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
}

.btn1 {
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}

.btn2 {
    background-color: rgb(38, 38, 198);
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(242, 238, 238);
}

.btn1:hover {
    background-color: grey;
    transition: all .5s;
}

.btn2:hover {
    background-color: rgb(3, 63, 109);
    transition: all .5s;
}
/* HORARIOS */
.horarios {
    grid-area: horarios;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}



/* FOOTER */
.footer {
    grid-area: footer;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.copyright, .autor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.copyright img, .autor img {
    width: 45px;
}


/* MEDIA QUERY */
@media screen and (max-width: 950px) {

    * {
        font-size: 98%;
    }

    .header {
        flex-wrap: wrap;
        height: auto;
        padding: 40px;
    }

    .header img {
        width: 55px;
    }


    .portada {
        height: 300px;
    }

    .aside2 {
        margin-top: 180px;
    }
}


@media screen and (max-width: 780px) {
    .container {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "portada" 
    "header"
    "aside-info"
    "contenedor-section"
    "aside2"
    "horarios"
    "footer"
    ;
    }

    .portada {
        height: 100px;
    }

    .aside-info {
        margin-top: 50px;
    }


    .aside-info {
        margin-top: 80px;
    }

    

    .footer {
        flex-wrap: wrap;
        align-items: center;
    }

    .copyright, .autor {
        flex-direction: column;
    }
}


@media (width <= 580px) {
    .contenedor-section {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(4, auto);   
    grid-template-areas: 
    "biblioteca"
    "laboratorio"
    "wifi"
    "articulacion"
    ;
    height: 100vh;
}

.aside2-botones {
        flex-wrap: wrap;
}

.btn1 {
    margin: 0;
}

.footer {
    height: 200px;
    text-align: center;
}

}